.btn-custom-danger {
    background-color: #ed621e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    --bs-btn-hover-bg: #ed621e;
}

.btn-custom-safe {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #50c310;
    --bs-btn-border-color: #50c310;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color(#50c310, 10%)};
    --bs-btn-hover-border-color: #{shade-color(#50c310, 10%)};
    --bs-btn-focus-shadow-rgb: #50c310;
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color(#50c310, 20%)};
    --bs-btn-active-border-color: #{shade-color(#50c310, 20%)};
}

.btn-custom-afsd {
    --bs-btn-color: #ed621e;
    --bs-btn-bg: #ed621e;
    --bs-btn-border-color: #ed621e;
    --bs-btn-border-radius: .5rem;
    color: white;
    --bs-btn-hover-color: #ed621e;
    --bs-btn-hover-bg: #ed621e;
    --bs-btn-active-color: white;
    
}

.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet);
    --bs-btn-border-color: var(--bd-violet);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
  }
  